:root {
    --dash-dark: #051e34;
    --dash-warning: #ff8f00;
    --dash-primary-dark: #165bba;
}

body {
    font-family: "Roboto", sans-serif;
}


.debug {
    & main {
        .content {
            background-color: rgb(180, 168, 208);
            height: calc(100vh - 57px);
            width: 100%;

            /* .top {
                height: 125px;
            } */

            .bottom {

                .left,
                .right {
                    height: calc(100vh - 125px - 57px);
                }

                .left {
                    background-color: rgba(0, 255, 157, 0.448);
                }

                .right {
                    background-color: rgba(0, 98, 61, 0.448);
                }
            }
        }
    }
}


.text-xs {
    font-size: .8rem;
}

.text-sm {
    font-size: .9rem;
}

nav {
    .fa-bell {
        color: #ff8f00;
    }
}

.badge {
    background-color: var(--dash-primary-dark);
}



aside {
    background-color: var(--dash-dark);
    background-image: url('../img/sidebar-bg.png');
}