:root {
    --dash-dark: #051e34;
    --dash-warning: #ff8f00;
    --dash-primary-dark: #165bba;
    --dash-warning-code: #f26551;
}

/* Commons -------------------------------------------------> */

body {
    font-family: "Roboto", sans-serif;
}


/* Utilities -------------------------------------------------> */

.text-xs {
    font-size: .8rem;
}

.text-sm {
    font-size: .9rem;
}

/* Header style -----------------------------------------> */

nav {
    .fa-bell {
        color: var(--dash-warning);
        cursor: pointer;
    }

    .dropdown-menu {
        right: 0;
        top: 1
    }

    .form-control {
        background-color: #e5e5e5;
    }
}

/* Main style -----------------------------------------> */

main {
    height: calc(100vh - 56px);

    .content {
        scrollbar-width: thin;
    }
}

aside {
    background-color: var(--dash-dark);
    background-image: url('../img/sidebar-bg.png');

    & a:hover {
        background-color: #61616167;
    }
}

.badge {
    background-color: var(--dash-primary-dark);
}

.card {
    /* & table {
        white-space: nowrap;
    } */

    .fa-code {
        background-color: var(--dash-warning-code);
        color: white;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        line-height: 30px;
        text-align: center;
    }

    .btn {
        width: 30px;
        height: 30px;
        line-height: 30px;
    }
}